@import "_botoes";// com o _ (Partials) na frente ele não cria outro arquivo botoes.css
$preto: rgb(48, 44, 44);

div{
    background: $preto;
    height: 200px;
    width: 300px;
    a{
        color: $preto;
        text-decoration: none;
    }
}