@import "_cores";// com o _ (Partials) na frente ele não cria outro arquivo botoes.css
$fonteTexto: Poppins;
$fonteTitulo: Roboto;

//item não existe no css
%clearfix::after{
    content: ''
}

//semelhante ao mixing, reaproveita um bloco de codigos... não muito usado pois pode causar erros
div{
    @extend %clearfix;
}

//mixing são blocos reutilizaveis/ bastante usado nos prefixos de navegadores
@mixin titulo {
    display: flex;
    justify-content: center;
}

//vai ler a cor q eu passar como argumento(pode ler mais de um argumento)
@mixin color($color: white){ //valor padrão, semelhante há um if
    color: $color;
}

@mixin separador{
    &:hover{
        background: $primaria;
        @include sombra(-10px 7px 0px);
        transition: 0.1s;
    }
}

@mixin tamanho{
    width: 100%;
    height: 100vh;
}

//... spread, para usar um argumento mais uma vez
@mixin sombra($agumentos... ){
    box-shadow: $agumentos black;
    -moz-box-shadow: $agumentos black;
    -webkit-box-shadow: $agumentos black;
}

@mixin mobile {
    @media (max-width: 600px){
        @content;//permite mudar o contexto do arquivo
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    //mixing
    @include titulo;
    flex-direction: row;
    align-items: center;
    @include tamanho;
    div{
        width: 25em;
        height: 17em;
        position: relative;
        h1{
            //Nesting
            font: {
                size:xx-large;
                weight:600;
                family: $fonteTitulo, sans-serif;
            };
            letter-spacing: 0.1ch;
            @include color($primaria);
            text-indent:1em;
            border-left: 5px solid $primaria;
            @include mobile{
                color: #84f;
            }
        }
        p{
            @include color($text);
            font-family: $fonteTexto, sans-serif;
            font-size: 1em;
            text-align: start;
            text-indent:2em;
            margin-top:20px;
            line-height: 1.25em;
        }
        span{
            @include color($text);
            font-weight: bold;
            position: absolute;
            margin-top: 1em;
            left: 0;
        }
        a{
            @include color(white);
            text-decoration: none;
            font-family: $fonteTitulo, sans-serif;
            font-weight: 600;
            background: $complementar;
            text-transform: uppercase;
            padding: 10px 25px 10px 25px;
            border-radius: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
            @include separador;
            //& Nesting, pra grudar class/ ou sintaxe do próprio css
        }
    }
}